[package]
name = "komandan"
version = "0.0.2"
authors = ["Abdul Munif Hanafi"]
license = "MIT"
edition = "2024"

[features]
vendored-openssl = ["http-klien/vendored-openssl", "ssh2/vendored-openssl"]

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.53", features = ["derive"] }
http-klien = { git = "https://github.com/hahnavi/http-klien-rs", branch = "main" }
minijinja = "2.12.0"
mlua = { version = "0.11.5", features = [
    "anyhow",
    "luajit",
    "macros",
    "serialize",
    "vendored",
] }
rand = "0.9.2"
rayon = "1.11.0"
regex = "1.12.2"
rustyline = "17.0.2"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
ssh2 = "0.9.5"

[dev-dependencies]
tempfile = "3.23.0"

[profile.release]
lto = "fat"
strip = "symbols"

[lints.rust]
unsafe_code = "deny"

[lints.clippy]
enum_glob_use = "deny"
pedantic = "deny"
nursery = "deny"
unwrap_used = "deny"
expect_used = "deny"
